# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    - uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - name: Delete resource group if exists
      env:
        RESGROUP: ${{ secrets.RESGROUP }}
      run: az group delete --name $RESGROUP --yes || true

    - name: Create resource group
      env:
        RESGROUP: ${{ secrets.RESGROUP }}
      run: |
        az group create --location $REGION --name $RESGROUP

    - name: Create network
      env:
        REGION: ${{ secrets.REGION }}
        RESGROUP: ${{ secrets.RESGROUP }}
        VNET: ${{ secrets.VNET }}
        CERTPWD: ${{ secrets.CERTPWD }}
      run: |
        az network nsg create --name "vCD-VM-SecGrp" --resource-group $RESGROUP --location $REGION
        az network nsg create --name "vCD-console-SecGrp" --resource-group $RESGROUP --location $REGION
        az network vnet create --name $VNET --resource-group $RESGROUP --address-prefixes "10.255.0.0/24" --location $REGION
        az network vnet subnet create --address-prefixes "10.255.0.0/29" --name "vCD-AppGW" --resource-group $RESGROUP --vnet-name $VNET
        az network vnet subnet create --address-prefixes "10.255.0.8/29" --name "vCD-Portal" --resource-group $RESGROUP --vnet-name $VNET --service-endpoints "Microsoft.Sql" --network-security-group "vCD-VM-SecGrp"
        az network vnet subnet create --address-prefixes "10.255.0.16/29" --name "vCD-Console" --resource-group $RESGROUP --vnet-name $VNET --network-security-group "vCD-console-SecGrp"
        az network public-ip create --name "vCD-VM" --resource-group $RESGROUP --allocation-method Static --location $REGION --sku Basic
        az network public-ip create --name "vCD-console" --resource-group $RESGROUP --allocation-method Static --location $REGION  --sku Basic
        az network public-ip create --name "vCD-portal" --resource-group $RESGROUP --allocation-method Static --location $REGION --sku Standard
        az network nic create --name "Portal-NIC" --resource-group $RESGROUP --location $REGION --subnet "vCD-Portal" --vnet-name $VNET --public-ip-address "vCD-VM"
        az network nic create --name "Console-NIC" --resource-group $RESGROUP --location $REGION --subnet "vCD-Console" --vnet-name $VNET --public-ip-address "vCD-console"
        az network application-gateway create --name "vCD-Portal" --resource-group $RESGROUP --location $REGION --capacity 1 --sku Standard_v2 --vnet-name $VNET --subnet "vCD-AppGW" --public-ip-address "vCD-portal" --cert-file certificate.pfx --cert-password $CERTPWD --servers 10.255.0.10 10.255.0.11 10.255.0.12 10.255.0.13 10.255.0.14

    - name: Allow SSH in
      env:
        RESGROUP: ${{ secrets.RESGROUP }}
      run: |
        az network nsg rule create --name "AllowInboundSSH" --nsg-name "vCD-VM-SecGrp" --priority 1000 --resource-group $RESGROUP --access Allow --destination-address-prefixes "*" --destination-port-ranges 22 --direction Inbound --protocol Tcp --source-address-prefixes "*" --source-port-ranges "*"
        az network nsg rule create --name "AllowInboundSSH" --nsg-name "vCD-console-SecGrp" --priority 1000 --resource-group $RESGROUP --access Allow --destination-address-prefixes "*" --destination-port-ranges 443 --direction Inbound --protocol Tcp --source-address-prefixes "*" --source-port-ranges "*"

    - name: Create database
      env:
        REGION: ${{ secrets.REGION }}
        RESGROUP: ${{ secrets.RESGROUP }}
        DBNAME: ${{ secrets.DBNAME }}
        DBPWD: ${{ secrets.DBPWD }}
        DBUSER: ${{ secrets.DBUSER }}
      run: |
        az postgres server create --resource-group $RESGROUP --name $DBNAME --ssl-enforcement disabled --sku-name GP_Gen5_4 --backup-retention 7 --geo-redundant-backup disabled --location $REGION --storage-size 20480 --version 10 --admin-user $DBUSER --admin-password $DBPWD
        az postgres server vnet-rule create --name "vCD-portal" --resource-group $RESGROUP --server-name $DBNAME --subnet "vCD-Portal" --vnet-name $VNET

    - name: Create and configure VM
      env:
        REGION: ${{ secrets.REGION }}
        RESGROUP: ${{ secrets.RESGROUP }}
        VNET: ${{ secrets.VNET }}
        VCDVM: ${{ secrets.VCDVM }}
        SSHKEY: ${{ secrets.SSHKEY }}
      run: |
        echo "$SSHKEY" > sshid
        az vm create --name $VCDVM --resource-group $RESGROUP --location $REGION --admin-username azureuser --image "OpenLogic:CentOS:7.5:latest" --ssh-key-values @sshid --nics "Portal-NIC" "Console-NIC" --size "Standard_B2ms"

